<div class="card">
    <div class="cardbody">About</div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit sit quibusdam incidunt magni, dolor eligendi atque odit nobis esse ipsum blanditiis voluptates nostrum aliquid hic eveniet officia optio repellat illum quas vitae nulla earum, nihil voluptatem? Sapiente voluptates maxime facere, rerum, officia, enim hic error aliquid magni ex iure. Aperiam?

    </p>
</div>