<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app con Node y Mongo</h1>
    <p class="lead">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
    <hr class="my-4">

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolor iste minima qui voluptates dolores dignissimos accusantium iure? Voluptate tempore perspiciatis mollitia laudantium veritatis, velit consequuntur ex vel quas? Sed!</p>

    <a href="#" class="btn btn-primary btn-lg">Learn more</a>
</div>